{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <linkhref="https://fonts.googleapis.com/css?family=Raleway"rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f3e227;
      height: 1700px;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="row">
        <a href="{% url 'dashboard' %}" class="brand-link">
          <img src="\static\images\ub.jpg" alt=""  class="brand-image img-circle elevation-10"
          style="opacity: .8;" width="70px" >
          <span class="brand-text font-weight-light">UBTEB ATIS</span>
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'al_list' %}">Alumni</a></li>
        <li><a href="{% url 'add_alumni' %}">Add Alumni</a></li>
        <li><a href="{% url 'edit_alumni' %}">Edit Alumni</a></li>
        <li><a href="{% url 'logout' %}">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <div class="row">
        <a href="{% url 'dashboard' %}" class="brand-link">
          <img src="\static\images\ub.jpg" alt=""  class="brand-image img-circle elevation-10"
          style="opacity: .8;" width="70px" >
          <span class="brand-text font-weight-light">UBTEB ATIS</span>
        </a>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'al_list' %}">Alumni</a></li>
        <li><a href="{% url 'add_alumni' %}">Add Alumni</a></li>
        <li><a href="{% url 'edit_alumni' %}">Edit Alumni</a></li>
        <li><a href="{% url 'logout' %}">Sign Out</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9 ">
        <div class="well">
          <h2 style="font-weight: bold; color:red;">UBTEB Alumni Tracking System</h2>
        </div>
        <div class-="row">
         <div class="col-lg-3 col-6">
          <div class="small-box bg-primary" >
            <div class="inner">
              <h3>{{ alumnus }}</h3> 
              <h4>Total Alumni</h4>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'al_list' %}" class="small-box-footer" style="color:red">More info <i class="fas fa-arrow-circle-left"></i></a>
          </div>
        </div>
        
          <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
              <div class= "inner">
                <h3>{{ certY_total }}</h3>
                <h4>Total Alumni with Certificates</h4> 
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
                <a href="{% url 'al_list' %}?certificate_status=True" class="small-box-footer" style="color:red">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        
          <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ transY_total }}</h3> 
                <h4>Total Alumni with Transcripts</h4>
              </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                  <a href="{% url 'al_list' %}?transcripts_status=True" class="small-box-footer" style="color:red">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
              <div class="inner">
               <h3>{{ empY_stat }}</h3>
               <h4>Total Employed Alumni</h4> 
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
                <a href="{% url 'al_list' %}" class="small-box-footer" style="color:red">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          
       
      </div>
    </div>
    <div class-="row">
      <div class="col-lg-3 col-6">
       <div class="small-box bg-danger bg-gradient" >
         <div class="inner">
           <h3>{{ female_total }}</h3> 
           <h4>Total Female Alumni</h4>
         </div>
         <div class="icon">
           <i class="ion ion-stats-bars"></i>
         </div>
         <a href="{% url 'al_list' %}?gender=Female" class="small-box-footer" style="color:red">More info <i class="fas fa-arrow-circle-left"></i></a>
       </div>
     </div>
     
       <div class="col-lg-3 col-6">
         <div class="small-box bg-primary">
           <div class= "inner">
             <h3>{{ male_total }}</h3>
             <h4>Total Male Alumni</h4> 
           </div>
           <div class="icon">
             <i class="ion ion-stats-bars"></i>
           </div>
             <a href="{% url 'al_list' %}?gender=Male" class="small-box-footer" style="color:red">More info <i class="fas fa-arrow-circle-right"></i></a>
         </div>
       </div>
    
       
     <div class="row">
       <div class="col-sm-8">
         <br><br><br>
         <div class="well bg-info">
          <h3 style="color:red">Employment Entity</h3>
           <p>Government - {{empG_ent}}</p>
           <p>Private - {{ empP_ent }}</p>
           <p>NGO - {{ empN_ent }}</p>
           <p>Missionary - {{ empM_ent }}</p>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="col-lg-6">
  <div class="card card-danger">
    <div class="card-header">
      <h3 class="card-title">Received transcripts Vs Not Received transcripts</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
    </div>
  </div>
</div>
 
</div>


</body>
</html>
