{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <linkhref="https://fonts.googleapis.com/css?family=Raleway"rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f3e227;
      height: 1700px;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'al_list' %}">Alumni</a></li>
        <li><a href="{% url 'add_alumni' %}">Add Alumni</a></li>
        <li><a href="{% url 'edit_alumni' %}">Edit Alumni</a></li>
        <li><a href="{% url 'logout' %}">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <div class="row">
        <div class="col">
          <img src="\static\images\ub.jpg" alt="" srcset="" style="border-radius: 200px;" width="50px">
        </div>
        <div class="col-sm-12">
          <span style="font-size:xx-small;"><h2>UBTEB ATIS</h2></span>
        </div>

      </div>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'al_list' %}">Alumni</a></li>
        <li><a href="{% url 'add_alumni' %}">Add Alumni</a></li>
        <li><a href="{% url 'edit_alumni' %}">Edit Alumni</a></li>
        <li><a href="{% url 'logout' %}">Sign Out</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9 ">
        <div class="well">
          <h2 style="font-weight: bold;">UBTEB Alumni Tracking System</h2>
        </div>
        <div class="row">
          <div class="col-sm-3" >
            <div class="well ">
              <h4>Total Alumni</h4>
              <p>{{ alumnus }}</p> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Total Alumni with Certificates</h4>
              <p>{{ certY_total }}</p> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Total Alumni with Transcripts</h4>
              <p>{{ transY_total }}</p> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Total Employed Alumni</h4>
              <p>{{ empY_stat }}</p> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="well">
             <h3>Employment Entity</h3>
              <p>Government - {{empG_ent}}</p>
              <p>Private - {{ empP_ent }}</p>
              <p>NGO - {{ empN_ent }}</p>
              <p>Missionary - {{ empM_ent }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

</body>
</html>